header {
    min-height: 100vh;
    width: 100%;
    background: url("/assets/img/img-3.jpg") fixed center/cover;

    .header-dark {
        width: 100%;
        min-height: 100vh;
        background: rgba(0, 0, 0, 0.60);

        .headerContent {
            width: 90%;
            min-height: 100vh;
            margin: 0 auto;
            color: white;
        
            .titres {
                width: 100%;
                min-height: 100vh;
                text-align: center;
                padding: 10rem 0 0;

                @media screen and (max-width: 800px) {
                    padding-top: 12rem;
                }
    
                h1 {
                    font-size: 5rem;
                    text-align: center;
                    font-family: $font3;
                    @media screen and (max-width: 500px) {
                        font-size: 3rem;
                    }
                    @media screen and (max-width: 400px) {
                        font-size: 2.5rem;
                    }
                }
                p {
                    font-size: 2rem;
                    letter-spacing: 3px;
                    font-family: $font4;
                    margin: 2rem 0 6rem;
                    
                    @media screen and (max-width: 790px) {
                        
                    }
                    
                    span {
                        background: black;
                        border-radius: 3px;
                        padding: 0 5px;
                        color: red;
                    }
                }
                .services {
                    width: 80%;
                    margin: 0 auto;
                    height: 9rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    @media screen and (max-width: 800px) {
                        display: none;
                    }
    
                    .items {
                        width: 25%;
                        margin: 0 1rem;
                        padding: 2rem 1rem;
                        border: 1px solid rgba(245, 245, 245, 0.406);
                        transition: 0.3s;
    
                        p {
                            font-size: 1rem;
                            margin: 10px 0 0;
                            color: white;
                        }
                        i {
                            font-size: 2rem;
                            color: red;
                        }
                    }
                    .items:hover {
                        transform: scale(1.1);
                        border: solid red;
                    }
                }
                button {
                    margin: 4rem 0 0;

                    @media screen and (max-width: 1024px) {
                        margin-top: 10rem;
                    }
                }
            }
        }
    }
}